<% if(is_home()) { %>
<header class="header index-header">
<% } else { %>
<header class="header">
<% } %>
    <div class="read-progress"></div>
    <div class="header-sidebar-menu">&#xe775;</div>
    <!-- post页的toggle banner  -->
    <% if (is_post()) { %>
    <div class="banner">
            <div class="blog-title">
                <a href="<%- url_for() %>" ><%= theme.main_title || config.title%></a>
            </div>
            <div class="post-title">
                <a href="#" class="post-name"><%- page.title %></a>
            </div>
    </div>
    <% } %>
    <!-- 将home-link的操作改为应用到header-top-right上 -->
    <div class="header-top-right">
        <!-- search  -->
        <% if (theme.algolia_search.enable) { %>
            <div class="site-search popup-trigger tl-search">
                <span class="iconfont-jian tl-search-icon">&#xe7fc;搜索</span>
            </div>
            <% } %>
        <a class="home-link" href=<%- config.root %>><%- theme.main_title || config.title %></a>
    </div>
</header>